<launch>
    <node name="input" pkg="robosoccer" type="PlayerController.py" output="screen" required="true"/>
    <node name="server" pkg="robosoccer" type="Game.py" output="screen" required="true"/>
    <node name="ai1" pkg="robosoccer" type="AIController.py" output="screen">
	    <param name="quantity" value="robot1" />
    </node>
</launch>